{% extends 'base.html' %}
{% block content %}

<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<center>
<h1 class="teal-text text-darken-2">About Book Collector</h1>
<hr />
<br>
<img src="https://thebelleofthelibrary.files.wordpress.com/2018/09/tumblr_pdlrrwyvdu1xuwskro1_500.gif"/>
<br>
<h4 class="teal-text">“That’s the thing about books. They let you travel without moving your feet.”
―Jhumpa Lahiri, The Namesake</h4>
</center>

{% endblock %}
