{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Collector</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
   <style>
   h1, h2, h3, h4, p, a, ul, li, div {
   font-family: 'Comfortaa', cursive;
   }
   </style>
</head>
<body class="teal lighten-5">
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal darken-3">
        <ul>
          <li><a href="/" class="right brand-logo">&nbsp;&nbsp;BookCollector&hearts;</a></li>
        </ul>
        <ul class="left">
          <li><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'authors_create' %}">Add an Author</a></li>
          <li><a href="{% url 'authors_list' %}">View Authors</a></li>
          <li><a href="{% url 'books_create' %}">Add a Book</a></li>
          <li><a href="{% url 'index' %}">My Books</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer teal darken-3">
    <div class="right">All Rights Reserved, &copy; 2021 Book Collector &nbsp;</div>
  </footer>
</body>
</html>
