{% extends 'base.html' %}
{% block content %}

<center>
<h1 class="teal-text text-darken-2">Book Collector</h1>
<hr />
<h4 class="teal-text text-darken-2">Our Favorites</h4><br>
  <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1610900883l/54189398._SY475_.jpg">
  <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1537519686l/41957126._SY475_.jpg">
  <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1522157426l/19063._SY475_.jpg">
</center>
{% endblock %}
